<div class="row">
    <div class="col">
        <h1>Where is the Firebase?</h1>

        <div class="row">
            <div class="col bg-info" id="balance">Balance: </div>
            <div class="col bg-info" id="current-bets">Current Bets: </div>
            <div class="col bg-success" id="debt">Debt: 0</div>
        </div>
        <br>
        <div id="text-secret">SECRET: </div>
        <br>
        <div class="row">
            <div class="col">
                <img id="image-0" src="/images/Cardback.jpg" width="150" height="220">
                <br>
                <div class="d-grid gap-3 d-md-flex">
                    <div>     </div>
                    <button class="btn btn-outline-primary me-md-2" id="button-card0-minus">-</button>
                    <div id="card0-bets">0</div>
                    <button class="btn btn-outline-danger me-md-2" id="button-card0-plus">+</button>
                </div>
                <br>
                <div class="col">
                    <button id="button-play" class="btn btn-outline-primary btn-lg" >Play</button>
                </div>
            </div>
            <div class="col">
                <img id="image-1" src="/images/Cardback.jpg" width="150" height="220">
                <br>
                <div class="d-grid gap-3 d-md-flex">
                    <div>     </div>
                    <button class="btn btn-outline-primary me-md-2" id="button-card1-minus">-</button>
                    <div id="card1-bets">0</div>
                    <button class="btn btn-outline-danger me-md-2" id="button-card1-plus">+</button>
                </div>
                <br>
                <div class="col">
                    <button id="button-new-game" class="btn btn-outline-danger btn-lg" >New Game</button>
                </div>
            </div>
            <div class="col">
                <img id="image-2" src="/images/Cardback.jpg" width="150" height="220">
                <br>
                <div class="d-grid gap-3 d-md-flex">
                    <div>     </div>
                    <button class="btn btn-outline-primary me-md-2" id="button-card2-minus">-</button>
                    <div id="card2-bets">0</div>
                    <button class="btn btn-outline-danger me-md-2" id="button-card2-plus">+</button>
                </div>
                <br>
                <div class="col">
                    <button id="button-loan" class="btn btn-outline-success btn-lg" >Loan 8 coins</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <h1>Status</h1>
        <div class="row">
            <div class="col">
                <button id="button-history" class="btn btn-outline-primary">Gameplay History</button>
            </div>
        </div>
        <br>
        <div class="container bg-secondary text-white">
            <div id="gameplay-history">

            </div>
            <div id="status-message">

            </div>
        </div>
    </div>
</div>