<div class="row">
    <h1>Community Feed</h1>
</div>
<div class="row" id="comment-section">
    <div class="col">
        <button id="button-create" class="btn btn-outline-primary" >Create</button>
    </div>
</div>

<div class="row">
    <table id="tbl-comment-list"  class="table table-success table-striped" style="width: 40%;">
        <thead>
            <tr>
                <th style="width: 80%">Message</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tbl-comment-list-body">
            
        </tbody>
    </table>
</div>