.my-banner{
    width: 100%;
    font-size: 200%;
    text-align: center;
    color: white;
    background-color: navy;
}

li.nav-item{
    padding-right: 10px;
}

.modal-preauth{
    display: block;
}

.modal-postauth{
    display: none;
}

input{
    display: block;
    margin: 8px 0;
    padding: 8px 2px;
    border-width: 0 0 2px 0;
    width: 100%;
}

.number-button{
    padding-right: 8px 2px;
}

.text-comment{
    width: 75%;
}

.tbl-comment-list{
    width: 40%;
}